@model MyPinterestVersion.Models.ApplicationUser

@{
    ViewBag.Title = "Detalii utilizator";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

<div class="panel-heading">User Name: @Model.UserName</div>

<div class="panel-body">

    <i class="glyphicon glyphicon-envelope"></i> User email: <span class="label label-default">@Model.Email</span>
    <br />
    <i class="glyphicon glyphicon-th-list"></i> User role: @ViewBag.roleName

    <br /><br />

    @if (@Model.PhoneNumber != null)
    {
        <i class="glyphicon glyphicon-phone"></i>@:User phone:<span class="label label-default">@Model.PhoneNumber</span>








    }

</div>

@if ( User.IsInRole("Administrator") )
{
    <div class="panel-footer">
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", routeValues: new { id = @Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <br />
            <button class="btn btn-success" type="submit">Delete User</button>

        }
    </div>
}
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "All user bookmarks";
}
<br />
    <ol class="breadcrumb">
        <li><h3>@ViewBag.Title</h3></li>
    </ol>
@for (int i = 0; i < Model.UserBookmarks.Count(); i += 3)
{
    <div class="row">
        @{
            int j = 0;
            for (; j <= 2 && i + j < Model.UserBookmarks.Count(); j++)
            {
        <div class="col-md-4">
            <div style="font-size:1.5em"> Category: <span class="label label-success">@Model.UserBookmarks[i + j].CategoryName</span> </div>
            <br />
            @Html.Partial("BookmarkPartial", Model.UserBookmarks[i + j])
        </div>
            }
        }
    </div>
}




