<div class="panel panel-default">
    <div class="panel-heading">Bookmark Title: @Model.Title</div>
    <div class="panel-body">
        Description: <strong>@Model.Description</strong>
        <br />
        <div>
            <img src="@Url.Content(Model.Image.ImagePath)" width="250" height="250" multiple />
        </div>
        <div> Rating: <span class="label label-success">@Model.Note</span> </div>
        
        <div>Tags: 
    @if (Model.TagsNames.Count >= 0)
    {

        for (int i = 0; i < Model.TagsNames.Count; i++)
        {
            <span class="label label-success">
                @Model.TagsNames[i] 
            </span>
        }

    }
      </div> 
        <div>
            <span class="label label-success">@Model.Date</span>
        </div>
       
          <i class="glyphicon glyphicon-user"></i> <i>bookmark added by</i> <strong> @Model.User.UserName </strong>
    </div>
    <div class="panel-footer">
        @*<a class="btn btn-sm btn-success" href="/Bookmark/Show/@Model.Id">Show bookmark</a>*@
    </div>
</div>
<br />

