<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        Continut articol: <strong>@Model.Description</strong>
        <br />
        @*<span class="label label-success">@Model.Date</span>*@
        <br />
       @* <i class="glyphicon glyphicon-globe"></i> @Model.Category.CategoryName*@
      @*  <i class="glyphicon glyphicon-user"></i> <i>bookmark added by</i> <strong> @Model.User.UserName </strong>*@
    </div>
    <div class="panel-footer">
        @*<a class="btn btn-sm btn-success" href="/Bookmark/Show/@Model.Id">Show bookmark</a>*@
    </div>
</div>
<br />

