@model MyPinterestVersion.Models.Category
@{
    ViewBag.Title = "Edit category";
}

<h2>@ViewBag.Title</h2>
<form method="post" action="/Categories/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.Label("Name", "Category Name")
    <br />
    @Html.EditorFor(m => m.Name)
    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger " })
    <br />
    <button class="btn btn-sm btn-success" type="submit">Modify this category</button>
</form>

