@model MyPinterestVersion.Models.Image
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>

        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagePath)" width="250" height="250" multiple />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


