@model MyPinterestVersion.Models.Bookmark

@{ ViewBag.Titlu = "Adaugare bookmark"; }

<h2>@ViewBag.Titlu</h2> <br />

@using (Html.BeginForm(actionName: "New", controllerName: "Bookmark"))
{
    
    @Html.HiddenFor(m => m.UserId)
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.ImageId)
   

    @Html.Label("Title", "Bookmark Title") <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Description", "Bookmark Description") <br />
    @Html.TextArea("Description", null, new { @class = "form-control" })
    @Html.ValidationMessage("Description", "", new { @class = "text-danger" }) <br /><br />

    @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" }) //for selecting the tag when i add it
    <label>Select posible tags fro yours bookmark </label>
    <div class="form-group">
        <table>
            @for (int i = 0; i < Model.Tags.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(m => m.Tags[i].Selected)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Tags[i].Text)
                        @Html.HiddenFor(m => m.Tags[i].Value)
                        @Html.HiddenFor(m => m.Tags[i].Text)
                    </td>
                </tr>
            }
        </table>
    </div>

    <button class="btn btn-sm btn-success" type="submit">Add bookmark</button>
}