@model MyPinterestVersion.Models.Bookmark

@{ ViewBag.Titlu = "Bookmark details"; }
@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}
<h2 style="color:green">@ViewBag.Titlu</h2>

<br />

<div class="panel panel-default">
    <div class="panel-heading">Bookmark Title: @Model.Title</div>
    <div class="panel-body">
        Description: <strong>@Model.Description</strong>
        <br />
        <div>
            <img src="@Url.Content(Model.Image.ImagePath)" width="250" height="250" multiple />
        </div>
        <div> Rating: <span class="label label-success">@Model.Note</span> </div>

        <div>
            Tags:
            @if (Model.TagsNames.Count >= 0)
            {

                for (int i = 0; i < Model.TagsNames.Count; i++)
                {
                    <span class="label label-success">
                        @Model.TagsNames[i]
                    </span>
                }

            }
        </div>
        <br />


        @if (ViewBag.hasComments != null)
        {
            <div>
                Comments:
                @if (ViewBag.hasComments)
                {

                    for (int i = 0; i < Model.CommentsList.Count; i++)
                    {
                        <div class="glyphicon-arrow-left">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>@Model.CommentsList[i].User.UserName</strong> <span class="text-muted">@Model.CommentsList[i].Date</span>
                                </div>
                                <div class="panel-body">
                                    @Model.CommentsList[i].CommentBody
                                    @if (ViewBag.esteAdmin)
                                    {
                                    <form method="post" action="/Comment/Delete/@Model.CommentsList[i].Id">
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <input type="hidden" name="bookId" value=@Model.Id />
                                        <button class="btn btn-sm btn-danger" type="submit">Delete Comment</button>
                                    </form>
                                    }

                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    }
                }
            </div>
        }

        @if (ViewBag.hasUrl != null)
        {
            <div>
                Related Urls:
                @if (ViewBag.hasUrl)
                {

                    for (int i = 0; i < Model.SimilarUrls.Count; i++)
                    {
                        <div class="glyphicon-arrow-left">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>@Model.SimilarUrls[i].User.UserName</strong> <span class="text-muted">@Model.SimilarUrls[i].Date</span>
                                </div>
                                <div class="panel-body">
                                    <a href="@Model.SimilarUrls[i].UrlBody">@Model.SimilarUrls[i].UrlBody</a>
                                    @if (ViewBag.esteAdmin)
                                    {
                                    <form method="post" action="/SimilarUrl/Delete/@Model.SimilarUrls[i].Id">
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <input type="hidden" name="bookId" value=@Model.Id />
                                        <button class="btn btn-sm btn-danger" type="submit">Delete Url Response</button>
                                    </form>
                                    }
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    }
                }
            </div>
        }

        <div>
            <span class="label label-success">@Model.Date</span>
        </div>

        <i class="glyphicon glyphicon-user"></i> <i>bookmark added by</i> <strong> @Model.User.UserName </strong>
    </div>
</div>
<br />
@if (ViewBag.esteAdmin)
{
    <form method="post" action="/Bookmark/Delete/@Model.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Delete Bookmark</button>
    </form>
}
@if (Request.IsAuthenticated)
{
    <a class="btn btn-sm btn-info" href="/Bookmark/VoteUp/@Model.Id">Vote up</a>
    <a class="btn btn-sm btn-info" href="/Bookmark/VoteDown/@Model.Id">Vote down</a>
    using (Html.BeginForm(actionName: "AddComment", controllerName: "Bookmark"))
    {
        @Html.HiddenFor(m => m.UserId)
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)

        @Html.Label("Comment", "Comment Bookmark") <br />
        @Html.TextBox("Comment", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
        @Html.Hidden("CommentDate", DateTime.Now, new { @class = "form-control" })
        <button class="btn btn-sm btn-success" type="submit">Add bookmark</button>
    }
    <br />
    using (Html.BeginForm(actionName: "AddUrl", controllerName: "Bookmark"))
    {
        @Html.HiddenFor(m => m.UserId)
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)

        @Html.Label("Related Url", "Add related url") <br />
        @Html.TextBox("Url", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
        @Html.Hidden("SimilarUrlDate", DateTime.Now, new { @class = "form-control" })
        <button class="btn btn-sm btn-success" type="submit">Add related url</button>
    }
    <br />
}



<hr />
<a class="btn btn-sm btn-success" href="/Home/Index">Back to bookmarks</a>
<a class="btn btn-sm btn-success" href="/Image/Add">Add new bookmark</a>

<br />
